<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
  </head>
  
  <body>
    <img src="" />
    <div class="HeadWrapper">
        <span class="arrowBack">
            <img src=""/></span>
        <span class="title">회원가입</span>
    <div class="Wrapper">
      <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <span>아이디</span>
        <input type="text" name="username" placeholder="아이디를 입력해주세요" />
        <span>비밀번호</span>
        <input
          type="password"
          name="password"
          placeholder="비밀번호를 입력해주세요"
        />
        <span>비밀번호 재확인</span>
        <input
          type="password"
          name="confirm"
          placeholder="비밀번호를 다시 입력해주세요"
        />
        <input class="signupButton" type="submit" value="회원가입" />
      </form>
    </div>
  </body>
</html>